* {
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;
}

div {
    width: 500px;
    margin: 20px 30% 20px 30%;
    position: relative;
    border: 5px solid #a9a9a9;
    background: #fff;
    font: 300 16px/1.5 sans-serif;
    text-align: center;
}