* {
    margin: 0;
    padding: 0;
}

body {
    background: #ccc;
}

ul {
    list-style-type: none;
    width: 460px;
    margin: 20px 30% 20px 30%;
    position: relative;
    border: 5px solid #a9a9a9;
    background: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

.date {
    float: right;
}
.header {
    margin-top: 5px;
    font-weight: bold;
}

li img {
    float: left;
    margin: 10px 15px 15px 5px;
    border: 3px solid #a9a9a9;
}

li p {
    font: 200 14px/1.5 "Comic Sans MS", "Comic Sans", sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

li {
    padding: 7px;
    overflow: auto;
}

li:hover {
    background: #eee;
    cursor: pointer;
}

hr {
    margin: 5px 15px 5px 15px;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.buttons {
    position: relative;
    bottom: 0;
    margin-left: 30%;
    margin-right: 30%;
    width: 460px;
    text-align: center;
    font: 300 12px/1.5 "Comic Sans MS", "Comic Sans", sans-serif;
    margin-bottom: 60px;
}

.back {
    width: 60px;
    height: 25px;
    line-height: 25px;
    float: left;
    background: #a9a9a9;
}

.next {
    width: 60px;
    height: 25px;
    line-height: 25px;
    float: right;
    background: #a9a9a9;
}


